
#grid{
	width:60%;
	/*margin:0 auto;*/
	margin-top: 20vh;
	margin-left: 25%;
}
.general{
	width:30%;
	margin:5vh auto;
	/*margin-top:10vh;*/
}
 #grid div, .general div{
	color:white;
	background-color: rgb(21,195,100);
	font-size:3em;
	float: left;
	width:45%;
	border-style: solid;
	border-color: black;
	border-top:0;
	border-bottom:0;  
	border-left-width: 0.2vw;
	border-right-width:  0.2vw;
	margin:.5vh;
	height:30vh;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	position:relative;
	transform: scale(1);
	transition-property: transform;
}
 .general div{
	width:95%;
	height:29vh;
}
 #grid div:hover, .general div:hover{
	transform: scale(1.01);
}
 #grid div span, .general div span{
	display: inline-block;
	width:100%;
	position:relative;
	top:50%;
	transform: translate(0%,-50%);
}
#notbutton{
	background-color: rgb(21,195,100);
	color:black;
	/*rgb(8,27,54)*/
	position:fixed;
	top:60vh;
	left:0vw;
	width:9vw;
	height:10vh;
	text-align: center;
}
#notbutton span{
	display:inline-block;
	position:relative;
	top:50%;
	transform: translate(0%,-50%);
}
.arrow2{
	top:60vh;
}
