
#requestContainer{
	border-bottom:100px solid transparent;
	/*color:rgb(133,152,7);*/
}
#requestContainer .container{
	color:rgb(230,190,105);
	background-color: var(--primary);
	border-radius: 5px;
	/*padding:20px;*/
	width:60%;
	margin:50px auto;
	margin-bottom: 0;
}
a{
	text-decoration:none; 
	color:var(--word);
	font-size:1.1em;
}
#requestContainer #name,#requestContainer #department{
	float:left;
}
#requestContainer #date,#requestContainer #status{
	text-align: right;
}
#topTable{
	color: black;
	padding:20px;
	width:100%;
	background-color: white;
	/*rgb(44,99,108)*/
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#requestContainer #date{
	width:50%;
	text-align: right;
}
#requestContainer .two-divs{
	width:50%;
	float:left;
	
}
#ForRej{
	color: black;
	background-color: white;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width:100%;
	padding-left:100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin:0 auto;*/
}
#forward{
	width:50%;
	color:#59bd7d;
	text-align: left;
}
#reject{
	width:50%;
	text-align: right;
	/*color: rgb(215,66,62);*/
}
#reject a{
	color: rgb(215,66,62);
}
#requestContainer form{
	padding-left:38%; 
	width:30%;
	/*float:left;*/
	display: inline-block;
}

#requestContainer .Bar{
	width:10px;
	margin:0 auto;
	background-color: white;
	height:70px;
}
#requestContainer #stats,#requestContainer .status{
	width:50%;
	background-color: white;
	margin:0 auto;
	padding: 15px;
	text-align: center;
	border-radius:15px;
	/*color:white;*/
	font-size:1.2em;
	/*display: none;*/
}
#requestContainer #stats{
	margin-top: 70px;
	padding-bottom: 0;
	/*border-bottom: 15px solid #21a649;*/
	width:60%;
	/*height:400px;*/
	margin-bottom: 100px;
}
#requestContainer .buttons{
	width:60%;
	margin:0 auto;
	margin-top: 20px;
	padding: 15px;
	/*color:white;*/
}
#requestContainer #button1,#requestContainer #button2{
	background-color: rgb(167,224,183);
	width:50%;
	text-align: center;
	float:left;
	transform: scale(1);
	transition-property: transform;
}
#requestContainer #button1:hover,#requestContainer #button2:hover{
	transform: scale(1.02);
}

/*.graph{*/
	/*height:400px;*/
	/*width:80%;*/
	/*border-left: 1px solid black;*/
	/*border-bottom:1px solid black;*/
	/*margin:0 auto;*/
/*}*/
#requestContainer .names{
	height:auto;
}
#requestContainer .dep{
	float:left;
	height:400px;
	width:33%;
}
#requestContainer .barNames{
	float:left;
	/*height:inherit;*/
	width:33%;	
}
#requestContainer .bar{
	position:relative;
	/*left:80%;*/
	width:100%;
	background-color:#21a649;
	top:40%;
	height:60%;	
}
#requestContainer table{
	text-align: center;
}

#reqSpecTable{
	width:90%;
	margin:10px auto;

}
#deptId{
	display:none;
}
