
{% extends 'utility/base.html' %}

{% block content %}
	<div id='stackedBarChart'>
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
	{% load static %}
	<script type="text/javascript" src="{% static 'javascript/Chart.min.js' %}"></script>
	<script type="text/javascript">
		function httpGetAsync(theUrl, callback){
		    const xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.response);
		    }
		    xmlHttp.responseType='json';
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}
		let labels=[];
		function formChart(receivedData){
			labels=receivedData['departments']
			const backgroundColor= [
                    'rgba(138, 43, 226, 0.6)',
                    'rgba(165, 42, 42, 0.6)',
                    'rgba(255, 127, 80, 0.6)',
                    'rgba(220, 20, 60, 0.6)',
                    'rgba(218, 165, 32, 0.6)',
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(240, 248, 255, 0.6)',
                    'rgba(245, 245, 220, 0.6)',
                    'rgba(255, 228, 196, 0.6)',
             ];
			const datasets=[];
			for(let i=0;i<receivedData['data'].length;i++){
				datasets.push({
					label: 'fund'+(i+1),
					backgroundColor: backgroundColor[i],
					data: receivedData['data'][i]
				})
			}
			const chartData={labels,datasets};

			const ctx= document.getElementById('myChart');
			const chart= new Chart(ctx, {
				type: 'horizontalBar',
				data: chartData,
				options: {
					title: {
						display: true,
						text: 'Fund Distribution for all departments'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					},
					onClick: barClickHandler
				}
			});

		}
		function barClickHandler(event,array){
			// console.log(array[0]._index);
			window.location.href='/purchase-request/department/fund/'+labels[array[0]._index];
		}
		httpGetAsync("/purchase-request/get_stats/department_fund/",formChart);
	</script>
{% endblock %}