
{% extends 'utility/base.html' %}

{% block content %}
	{% if user_type == 'FACULTY'%}
		<div class='general'>
			<div onclick="location.href='/purchase-request/create';">
				<span>Create Purchase Request</span>
			</div>
			<div onclick="location.href='/purchase-request/employee/view';">
				<span>My Requests</span>
			</div>			
		</div>
	{% endif %}
	{% if user_type == 'HOD' %}
		<div id='grid'>
			<div onclick="location.href='/purchase-request/create';">
				<span>Create Purchase Request</span>
			</div>
			<div onclick="location.href='/purchase-request/employee/view';">
				<span>My Requests</span>
			</div>
			<div onclick="location.href='/purchase-request/department/view/waiting';">
				<span>Waiting for approval</span>
			</div>
			<div onclick="location.href='/purchase-request/department/view/approved';">
				<span>Approved</span>
			</div>
		</div>
	{% endif %}
	{% if user_type == 'ACCOUNT' %}
		<div id='grid'>
			<div onclick="location.href='/purchase-request/department/view/waiting';">
				<span>Waiting for approval</span>
			</div>
			<div onclick="location.href='/purchase-request/department/view/approved';">
				<span>Approved</span>
			</div>
			<div onclick="location.href='/purchase-request/add_fund';">
				<span>Add New Fund</span>
			</div>
			<div onclick="location.href='/purchase-request/list_funds';" >
				<span>Show added funds</span>
			</div>
			<div onclick="location.href='/purchase-request/department/fund';">
				<span>Department funds</span>
			</div>
		</div>
	{% endif %}
	{% if user_type == 'DIRECTOR' or user_type == 'PURCHASE' or user_type == 'REGISTRAR' %}
		<div class='general'>
			<div onclick="location.href='/purchase-request/department/view/waiting';">
				<span>Waiting for approval</span>
			</div>
			<div onclick="location.href='/purchase-request/department/view/approved';">
				<span>Approved</span>
			</div>
			{% if user_type == 'DIRECTOR' %}
				<div onclick="location.href='/purchase-request/list_funds';">
					<span>Fund Distributions</span>
				</div>
			{% endif %}
		</div>
	{% endif %}
	{% if user_type == 'FACULTY' or user_type == 'HOD' %}
		<div class="arrow arrow2"></div>
		<div id='notbutton'>
			<span>Notifications</span>
		</div>
		<div id='notification' style="position:fixed;background: white; top:60vh; left:10vw; width:14vw;height:35vh; overflow-y:scroll;visibility: hidden;padding-left: 10px;">
			{% for description,id,seen in notifications %}
			<p style=" ">
				{% if seen == 'Y' %}
					<a href="{% url 'purchase:view_notification' id %}" style="color:#59bd7d;">{{description}}</a>
				{% else %}
					<a href="{% url 'purchase:view_notification' id %}" style="color:#326645;">{{description}}</a>
				{% endif %}
			</p>
			{% endfor %}
		</div>
	{% endif %}
	<script type="text/javascript">
		const button=document.querySelector('#notbutton');
		const list=document.querySelector('#notification');
		button.addEventListener("click",function(){
			if(list.style.visibility=='hidden')
				list.style.visibility='initial';
			else
				list.style.visibility='hidden';
		})
	</script>
	<!-- </div> -->
{% endblock %}
<!-- </body>
</html> -->