<!DOCTYPE html>
<html>
<head>
	<title>director</title>
	<link rel="stylesheet" type="text/css" href="director.css">
</head>
<body>
	<div id='container'>
		<div id='graph'>
			<div class='dep'>
				<div class='bar'>
					
				</div>
			</div>
			<div class='dep'>
				<div class='bar'>
					
				</div>
			</div>
			<div class='dep'>
				<div class='bar'>
					
				</div>
			</div>
			<div class='dep'>
				<div class='bar'>
					
				</div>
			</div>
		</div>
		<div id='bottom'></div>
		<form>
			<input class="in" type="number" name="one">
			<input class="in" type="number" name="two">
			<input class="in" type="number" name="three">
			<input class="in" type="number" name="four">
		</form>
	</div>
</body>
<script type="text/javascript" src='director.js'></script>
</html>