{% extends 'utility/base.html' %}

{% block content %}
	<div id='fundScontainer'>
		{% for fund in funds %}
			<div>
				<table>
					<tr>
						<td>Amount:</td> <td> {{fund.amount}}</td>
					</tr>
					<tr>
						<td>Fund received on:</td><td> {{fund.dateOfFundReceive}}</td>
					</tr>
					<tr>
						<td>For the Financial Year:</td><td> {{fund.financialYear}}</td>
					</tr>
					<tr>
						<td>Fund Description:</td><td> {{fund.fundDescription}}</td>
					</tr>
				</table>
				{% if fund.fundDistributed == 'N' and employeeType == 'DIRECTOR' %}
					<p>
						<a href="/purchase-request/distribute_fund/{{fund.id}}">
							Distribute funds
						</a>
					</p>
				{% endif %}
				{% if fund.fundDistributed == 'Y' %}
					<p>
						<a href="/purchase-request/show_distribution/{{fund.id}}">
							Fund Distribution
						</a>
					</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}