{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cr-reque.css' %}">
</head>
<body>
	<div class='container'>
		<img src="{% static 'logo.jpg' %}">
		<p>प्रारुप संख्या / FORM NO.: NITS/FORMS/ACCTS/FINAPPV/12-13/009</p>
		<p>राष्ट्रीय प्रौद्योगिकी संस्थान सिलचर / NATIONAL INSTITUTE OF TECHNOLOGY, SILCHAR</p>
		<p><strong>वित्तीय स्वीकृती/FINANCIAL APPROVAL</strong></p>
		<p>माल या सेवा की खरीद के लिए स्वीकृति/Approval for procurement of materials or services</p>
		<p>विभाग/ शाखा Deptt./Branch: {{department}} </p>	
		<p id='note'>टिप्पणी एफ सं./NOTE: F. No</p>
		<p style='text-align:right;'>दिनांक/ Date: {{purchase_request.dateofIndent}}</p>
		<div style='border:1px solid black;margin-top: 25px;'>
			<p style='margin-top:0px;'>माल / सेवाओं के विवरण/ Description of material / services:  {{purchase_request.description}}</p>	 
		</div>
		<br>
		<table class='table'>
            <tr>
            <td style="width:50%;">a) i) उद्देश्य / उपयोग जिसके लिए सामग्री / सेवा की आवश्यकता है और अंतिम परिणाम /Purpose / use for which the material/service required and the eventual outcome</td>
            <td> {{purchase_request.purpose}}</td>
            </tr>
            <tr>
            <td>ii) क्या आवश्यकता पहले अनुमान किया गया था /Whether requirement was projected before</td>
            <td>{{purchase_request.requirementProjection}}</td>
            </tr>
            <tr>
                <td>iii) आवश्यकता की तात्कालिकता /Urgency of requirement</td>
                <td>{{purchase_request.requirementUrgency}}</td>
            </tr>
            <tr>
                <td>b) इस सामग्री / सेवा की वरीयता का कारण / Reasons for preference of this material/service
                </td>
                <td>{{purchase_request.preferenceReason}}</td>
            </tr>
            <tr>
                <td>c) आवश्यकता की अवधि और किस समय के लिए आवश्यक / Period of requirement and by what time required:
                </td>
                <td>{{purchase_request.requirementPeriod}}</td>
            </tr>
            <tr>
                <td>d) प्रस्तावित माल / सेवायें तकनीकी रूप से संभव है और पैरामीटर से मिलता है/ /Whether material / services proposed is technically feasible and meets parameter:</td>
                <td>{{purchase_request.feasible}}</td>
            </tr>
            <tr>
                <td>क्या सामग्री एक मालिकाना सामग्री है /Whether material is a proprietary material</td>
                <td>{{purchase_request.proprietary}}</td>
            </tr>
            <tr>
                <td>e) यदि आवश्यकता किसी एक विशेष योजना / परियोजना के
					लिए है - योजना/ If the requirement is
                for a particular scheme/project – name of the Scheme/
                Project :
                </td>
                <td>{{purchase_request.scheme}}</td>
            </tr>
        </table>
        <br>
        <p>f) आइटम विवरण: {अगर जगह अपयास है, अतिरक्त शीट का उपयोग करें }/Item details: {In case space is
        insufficient, please use additional sheet(s)}</p>
        <table class='Table'>
            <tr>
                <td><strong>आइटम सं./Item No.</strong></td>
                <td><strong>सामग्री की विशिष्टता /Specification of Articles</strong></td>
                <td><strong>अपेक्खित संख्या / मात्रा / Number/ Qty.Required</strong></td>
                <td><strong>प्रति युनिट दर/ Rate per Unit</strong></td>
                <td><strong>वास्तविक लागत / Actual Cost</strong></td>
            </tr>
            {{ purchase_request.specification | safe }}
        </table>
        <p>g) क्या खरीद सीमित  निविदा / खुली निविदा या एकल निविदा के द्वारा किया जाना प्रस्तावित है/          whether procurement is proposed to be made by limited tender / open tender or single tender:
        </p>
		<br>
		<br>
		<p>वित्तीय सहमति /FINANCIAL CONCURRENCE: </p>
		<table>
			<tr>
				<th style="width:30%;">शिर्ष के बजट /Budget under Head </th>
				<th style="width:20%;">आभी तक व्यय/ Expenditure Till Date</th>
				<th style="width:20%;">शेष राशि उपलब्ध/ Balance available</th>
				<th style="width:30%;">धन उपलब्ध / उपलब्ध नहीं / Funds Available/Not Available </th>
			</tr>
			<tr>
				<td style="height: 150px;"></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<p>आवश्यकता को स्वीकार करने के लिए विभागाध्यक्ष के माध्यम से प्रस्तुत/ Submitted through HOD for accepting necessity</p>
		<!-- <div> -->
			<div class='threeDivs one'>
				<p>कर्मचारी का हस्ताक्षर/Signature of Employee</p>
				<p>नाम/ Name: ______________________________</p>
				<p>पदनाम/Designation: ______________________</p>
			</div>
			<div class='threeDivs two'>
				<p> संयोजक/विभागाध्यक्ष/ </p>
				<p> Coordinator / HOD </p>
			</div>
			<div class='threeDivs three'>
				<p> उप-कुलसचिव (लेखा) </p>
				<p> D.R. (Accts) </p>
				<!-- <p></p> -->
			</div>
		<!-- </div> -->
		<p id='Approved'>स्वीकृत / स्वीकृत नहीं/Approved/Not Approved</p>
		<div class='divs1'>
			<p>विभागाध्यक्ष/ डीन/ अध्यक्ष/ HOD/Dean/Chairman</p>
			<p>नाम/ Name: _____________________________</p>
			<p>पदनाम/Designation: _____________________</p>
		</div>
		<div class='divs2'>
			<p>गनदशेक/ Director </p>
		</div>
		<h3 id='Sanctioning'>मंजुरकारी अधिकारी/ Sanctioning Authority:- </h3>
		<table>
			<tr>
				<td>विभागाध्यक्ष / HOD </td>
				<td>योजना बजट/ Plan Budget </td>
				<td>एक वित्तीय वर्ष में रुपये 1 लाख से अधिकतम रुपये 5 लाख /Rs. 1 lakhs subject to max. of Rs.5 lakhs in a financial year</td>
			</tr>
			<tr>
				<td>विभागाध्यक्ष / HOD </td>
				<td>गैर योजना बजट/ Non-Plan Budget </td>
				<td>एक गित्तीय वर्ष में रुपये 15000/- से अधिकतम रुपये 3 लाख / Rs. 15000/- subject to maximum of Rs. 3 lakh in a financial year </td>
			</tr>
			<tr>
				<td>डीन आर एण्ड सी/ Dean R&C</td>
				<td>प्रायोजित परियोजनाओं, योजनाओं और कंसल्टेंसी कोष से संबंधित व्यय/  Expenditure related to Sponsored Projects, Schemes and Consultancy Fund </td>
				<td>रु.10,00,000/- तक/ Up to Rs. 10,00,000/-</td>
			</tr>
			<tr>
				<td>सभी डीन्स/ All Deans </td>
				<td>विशिष्ट प्रयोजनों के लिए / For Specific Purposes </td>
				<td>रु. 1,00,000/-तक/ Up to Rs. 1,00,000/- </td>
			</tr>
			<tr>
				<td>अध्यक्ष, पुस्तकालय समिति/ Chairman, Library Committee </td>
				<td>किताबें, पत्रिकाएं और अन्य उपभोक्ता वस्तुओं की खरीद के लिए / For Purchase of books, journals and other consumables </td>
				<td>रु. 1,00,000/-तक/ Up to Rs. 1,00,000/- </td>
			</tr>
			<tr>
				<td>अध्यक्ष, स्वास्थ्य़ केन्द्र/  Chairman , Health Centre</td>
				<td>स्वास्थ्य़ केन्द्र से संबंधित दवायें, उपकरण व अन्य की खरीद   के लिए खर्च / For purchase of medicines, equipment & other related expenditure of Health Centre </td>
				<td>रु. 1,00,000/-तक/ Up to Rs. 1,00,000/- </td>
			</tr>
			<tr>
				<td>कुलसचिव/ Registrar </td>
				<td>विभागों के लिए उपकरण, वर्दी, उपभोज्य, पुर्जे और  सहायक उपकरण की खरीद / Purchase of Equipment, uniform, consumables, spares and </td>
				<td>रु. 50,000/-तक/ Up to Rs. 50,000/- </td>
			</tr>
			<tr>
				<td>निदेशक/ Director</td>
				<td>योजना और गैर-योजना मद के तहत व्यय / Expenditure under Plan & Non-Plan Hea</td>
				<td>एक गित्तीय वर्ष में रुपये 1 कड़ोर से अधिकतम रुपय 20 कड़ोर तक/ Up to Rs. 1 crore subject to Maxof Rs. 20 crore in a financial year</td>
			</tr>
		</table>
		<p>ध्यान देः कृपया अधिक जानकारी के लिए  सस्ंथान की वेबसाइट में अपलोड सस्ंथान की प्रतिनिधिमडंल का अधिकार देखें।/ Note. Pl. refer to the delegation of power of the Institute uploaded in the Institute’s website for further information. </p>
	</div>
	<script type="text/javascript">
		window.onload=function(){
			window.print();
		}
		window.addEventListener('afterprint',function(){
			window.location.href='/';
		});
	</script>
</body>
</html>