{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cr-req.css' %}">
</head>
<body>
	<div class='container'>
		
		<img style="" src="{% static 'logo.jpg' %}">
		<p>प्रारुप संख्या / FORM NO.: NITS/FORMS/ACCTS/FINAPPV/12-13/009</p>
		<p>राष्ट्रीय प्रौद्योगिकी संस्थान गसलचर / NATIONAL INSTITUTE OF TECHNOLOGY, SILCHAR</p>
		<p><strong>वित्तीय स्वीकृती/FINANCIAL APPROVAL</strong></p>
		<p>माल या सेिा की खरीद के गलए स्िीकृ गि/Approval for procurement of materials or services</p>
		<p>गिभाि/ शाखा Deptt./Branch: {{department}} </p>	
		<p id='note'>टिप्पणी एफ सं./NOTE: F. No</p>
		<p style='text-align:right;'>ददनांक/ Date: {{date}}</p>
		<div style='border:1px solid black;margin-top: 25px;'>
			<p style='margin-top:0px;'>माल / सेिाओं के गििरण/ Description of material / services: {{post.specification}}</p>
			 
		</div>
		<table class='table'>
            <tr>
            <td style="width:50%;">a) i) उद्देश्य / उपयोि गिसके गलए सामग्री / सेिा की आिश्यकिा है और अंगिम पटरणाम /Purpose / use for which the material/service required and the eventual outcome</td>
            <td >{{post.purpose}}</td>
            </tr>
            <tr>
            <td>ii) क्या आिश्यकिा पहले अनुमान दकया िया था /Whether requirement was projected before</td>
            <td>{{post.3}}</td>
            </tr>
            <tr>
                <td>iii) आिश्यकिा की िात्कागलकिा /Urgency of requirement</td>
                <td>{{post.4}}</td>
            </tr>
            <tr>
                <td>b) इस सामग्री / सेिा की िरीयिा का कारण / Reasons for preference of this material/service
                </td>
                <td>{{post.5}}</td>
            </tr>
            <tr>
                <td>c) आिश्यकिा की अिगि और दकस समय के गलए आिश्यक / Period of requirement and by what time required:
                </td>
                <td>{{post.6}}</td>
            </tr>
            <tr>
                <td>d) प्रस्िागिि माल / सेिायें िकनीकी रूप से संभि है और पैरामीिर से गमलिा है/ /Whether material / services proposed is technically feasible and meets parameter:</td>
                <td>{{post.7}}</td>
            </tr>
            <tr>
                <td>क्या सामग्री एक मागलकाना सामग्री है /Whether material is a proprietary material</td>
                <td>{{post.8}}</td>
            </tr>
            <tr>
                <td>e) यदद आिश्यकिा दकसी एक गिशेष योिना / पटरयोिना के
                गलए है - योिना / पटरयोिना का नाम/ If the requirement is
                for a particular scheme/project – name of the Scheme/
                Project :
                </td>
                <td>{{post.9}}</td>
            </tr>
        </table>
        <p>f) आइिम गििरण: {अिर ििह अपयााप्त है, अगिटरक्त शीि का उपयोि करें )}/Item details: {In case space is
        insufficient, please use additional sheet(s)}</p>
        <table class='Table'>
            <tr>
                <td><strong>आइिम सं./Item No.</strong></td>
                <td><strong>सामग्री की गिगशष्टिा /Specification of Articles</strong></td>
                <td><strong>अपेगिि संख्या / मात्रा / Number/ Qty.Required</strong></td>
                <td><strong>प्रगि युगनि दर/ Rate per Unit</strong></td>
                <td><strong>स्िगिक लािि / Actual Cost</strong></td>
            </tr>
            <tr>
                <td>{{post.10}}</td>
                <td>{{post.11}}</td>
                <td>{{post.12}}</td>
                <td>{{post.13}}</td>
                <td>{{post.totalCost}}</td>
            </tr>
        </table>
        <p>g) क्या ख री द सी गम ि गन गि दा / खु ली गन गि दा या ए क ल गन गि दा के द्वा रा दक या िा ना प्र स्िा गि ि है/          whether procurement is proposed to be made by limited tender / open tender or single tender:
        </p>
	<!-- </form> -->
			<!-- <button>submit and continue</button> -->
			<!-- <input id='button' type="submit" value= "submit"> -->
		<!-- </form> -->
		<br>
		<br>
		<p>गित्तीय सहमगि /FINANCIAL CONCURRENCE: </p>
		<table>
			<tr>
				<th style="width:30%;">गशषा के िहि बिि /Budget under Head </th>
				<th style="width:20%;">आभी िक व्यय/ Expenditure Till Date</th>
				<th style="width:20%;">शषे रागश उपलब्ि/ Balance available</th>
				<th style="width:30%;">िन उपलब्ि / उपलब्ि नहीं / Funds Available/Not Available </th>
			</tr>
			<tr>
				<td style="height: 150px;"></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<p>आिश्यकिा को स्िीकार करन ेके गलए गिभािाध्यि के माध्यम से प्रस्िुि/ Submitted through HOD for accepting necessity</p>
		<!-- <div> -->
			<div class='threeDivs one'>
				<p>कमाचारी का हस्िािर/Signature of Employee</p>
				<p>नाम/ Name: ______________________________</p>
				<p>पदनाम/Designation: ______________________</p>
			</div>
			<div class='threeDivs two'>
				<p> संयोिक/गिभािाध्यि/ </p>
				<p> Coordinator / HOD </p>
			</div>
			<div class='threeDivs three'>
				<p> उप-कु लसगच ि( लेखा) </p>
				<p> D.R. (Accts) </p>
				<!-- <p></p> -->
			</div>
		<!-- </div> -->
		<p id='Approved'>स्िीकृि / स्िीकृि नहीं/Approved/Not Approved</p>
		<div class='divs1'>
			<p>गिभािाध्यि/ डीन/ अध्यि/ HOD/Dean/Chairman</p>
			<p>नाम/ Name: _____________________________</p>
			<p>पदनाम/Designation: _____________________</p>
		</div>
		<div class='divs2'>
			<p>गनदशेक/ Director </p>
		</div>
		<h3 id='Sanctioning'>मिंुरकारी अगिकारी/ Sanctioning Authority:- </h3>
		<table>
			<tr>
				<td>गिभािाध्यि / HOD </td>
				<td>योिना बिि/ Plan Budget </td>
				<td>एक गित्तीय िषा में रुपये 1 लाख से अगिकिम रुपये 5 लाख /Rs. 1 lakhs subject to max. of Rs.5 lakhs in a financial year</td>
			</tr>
			<tr>
				<td>गिभािाध्यि / HOD </td>
				<td>िैर योिना बिि/ Non-Plan Budget </td>
				<td>एक गित्तीय िषा म ेंरुपये 15000/- से अगिकिम रुपये 3 लाख / Rs. 15000/- subject to maximum of Rs. 3 lakh in a financial year </td>
			</tr>
			<tr>
				<td>डीन आर एण्ड सी/ Dean R&C</td>
				<td>प्रायोगिि पटरयोिनाओं, योिनाओं और कंसल्िेंसी कोष से संबंगिि व्यय/  Expenditure related to Sponsored Projects, Schemes and Consultancy Fund </td>
				<td>रु.10,00,000/- िक/ Up to Rs. 10,00,000/-</td>
			</tr>
			<tr>
				<td>सभी डीन्स/ All Deans </td>
				<td>गिगशष्ट प्रयोिनों के गलए / For Specific Purposes </td>
				<td>रु. 1,00,000/-िक/ Up to Rs. 1,00,000/- </td>
			</tr>
			<tr>
				<td>अध्यि, पुस्िकालय सगमगि/ Chairman, Library Committee </td>
				<td>दकिाबें, पगत्रकाएं और अन्य उपभोक्ता िस्िुओं की खरीद के गलए / For Purchase of books, journals and other consumables </td>
				<td>रु. 1,00,000/-िक/ Up to Rs. 1,00,000/- </td>
			</tr>
			<tr>
				<td>अध्यि, स्िास््य़ केन्र/  Chairman , Health Centre</td>
				<td>स्िास््य केन्र से संबंगिि दिायें, उपकरण ि अन्य की खरीद   के गलए खचा / For purchase of medicines, equipment & other related expenditure of Health Centre </td>
				<td>रु. 1,00,000/-िक/ Up to Rs. 1,00,000/- </td>
			</tr>
			<tr>
				<td>कुलसगचि/ Registrar </td>
				<td>गिभािों के गलए उपकरण, िदी, उपभोज्य, पुिे और  सहायक उपकरण की खरीद / Purchase of Equipment, uniform, consumables, spares and </td>
				<td>रु. 50,000/-िक/ Up to Rs. 50,000/- </td>
			</tr>
			<tr>
				<td>गनदशेक/ Director</td>
				<td>योिना और िैर-योिना मद के िहि व्यय / Expenditure under Plan & Non-Plan Hea</td>
				<td>एक गित्तीय िषा में रुपय े1 कडोर से अगिकिम रुपय े20 कडोर िक/ Up to Rs. 1 crore subject to Maxof Rs. 20 crore in a financial year</td>
			</tr>
		</table>
		<p>ध्यान देःे कृपया अगिक िानकारी के गलए  सस्ंथान की िेबसाइि म ेंअपलोड  सस्ंथान की प्रगिगनगिमडंल का अगिकार देखें।/ Note. Pl. refer to the delegation of power of the Institute uploaded in the Institute’s website for further information. </p>
		<button>print</button>
	</div>
	<script type="text/javascript">
		const button=document.querySelector('button');
		button.addEventListener('click',function(){
			window.print();
		});
	</script>
</body>
</html>

<!-- <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="submit">
</form>
 -->
<!-- {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.subject.id_for_label }}">Email subject:</label>
    {{ form.subject }}
</div>