
{% extends 'utility/base.html' %}

{% block content %}
<body>
	<div id='requestContainer'>
	<div class="container">
		<table id='topTable'>
			<tr>
				<td id='name'>Created by:&nbsp;<strong>{{employee_name}}</strong></td>
				<td id='date'>Created on:&nbsp;{{purchase_request.dateofIndent}}</td>
			</tr>
		</table>
		<p style="padding-left: 20px;">Purpose: {{purchase_request.purpose}}</p>
		<table id='reqSpecTable'>
			<tr>
                <td><strong>Item No.</strong></td>
                <td><strong>Specification of Articles</strong></td>
                <td><strong>Number/ Qty.Required</strong></td>
                <td><strong>Rate per Unit</strong></td>
                <td><strong>Actual Cost</strong></td>
            </tr>
			{{purchase_request.specification | safe}}
		</table>
		<table id='amount-and-reprint-form'>
			<tr>
				<td>
					<p>Amount: <span id='amount'>{{purchase_request.totalCost}}</span></p>
				</td>
				<td>
					{% if canReprint == True %}
						<p><a href="{% url 'purchase:print_request' purchase_request.id %}">print request form</a></p>
					{% endif %}
				</td>
			</tr>
		</table>
		{% if ForwardReject == True %}
			<table id='ForRej'>
				<tr>
					<td id='forward'><a href="{% url 'purchase:physical_token' purchase_request.id 'forward' %}" >Forward to next stage</a></td>
					<td id='reject'><a href="/purchase-request/token/{{purchase_request.id}}/reject">reject</a></td>
				</tr>
			</table>
		{% endif %}
	</div>
	{% if accounts == True %}
		<div class='buttons'>
			<div id='button1'><p>stats</p></div>
			<div id='button2'><p>request status</p></div>
		</div>
		<p id='deptId' >{{purchase_request.department.id}}</p>
		<div id='stats'>
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>
		{% load static %}
		<script type="text/javascript" src="{% static 'javascript/Chart.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascript/stats-in-purchase-request.js' %}"></script>
	{% endif %}

	<div class='dummy'>
		{% for log in logs %}
			<div class='Bar'></div>
			<div class='status'>
				<p>{{log.changedTo}} {{log.date}}</p>
				<p>{{log.comment}}</p>
			</div>
		{% endfor %}
	</div>
	</div>
	{% load static %}
	<!-- <script type="text/javascript" src="{% static 'javascript/Chart.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/stats-in-purchase-request.js' %}"></script> -->
	<script type="text/javascript" src="{% static 'javascript/view-purchase-request.js' %}"></script>
{% endblock %}