{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>brandname</title>
	<link rel="stylesheet" href="{% static 'css/form2.css' %}">
	<link rel="stylesheet" href="{% static 'css/list2.css' %}">
</head>
<body>
	{% if formExists == True %}
	<div id="listContainer">

		{% for purchase_request in purchase_requests %}
			<!-- <li><a href="{% url 'purchase:view_purchase_request' purchase_request.id %}">{{purchase_request}}</a></li> -->
			<div class='itemContainer'>
				<div class='item' onclick="location.href='{% url 'purchase:view_purchase_request' purchase_request.id %}';">
					<p class='date'>{{purchase_request.dateofIndent}}</p>
					<p class='specific'>{{purchase_request.specification}}</p>
				</div>
			</div>
			
		{% endfor %}
	</div>
	<div id='formContainer'>
		<h2 style="text-align: center;">Search or Filter</h2>
		<form method="POST" action="/purchase-request/filter">
		    {% csrf_token %}
		    <table>
		    	{{form.as_table}}
		    </table>
		    <input id='submit' type="submit" value="apply">
		</form>
	</div>
	{% endif %}
	{% if formExists == False %}
		<div id='container'>
			{% for purchase_request in purchase_requests %}
			<!-- <li><a href="{% url 'purchase:view_purchase_request' purchase_request.id %}">{{purchase_request}}</a></li> -->
				<div class='itemContainer'>
					<div class='item' onclick="location.href='{% url 'purchase:view_purchase_request' purchase_request.id %}';">
						<p class='date'>{{purchase_request.dateofIndent}}</p>
						<p class='specific'>{{purchase_request.specification}}</p>
					</div>
				</div>
			{% endfor %}	
		</div>
	{% endif %}
</body>
</html>